<div class="lg:mockup-window lg:convex-shadow lg:border lg:bg-base-300 lg:m-auto lg:w-[90%] w-full lg:my-24">
    <div class="flex justify-center lg:px-4 lg:py-16 lg:bg-gray-500">
        <div class="flex flex-col place-items-center w-screen text-center">
            <h5 class="lg:text-6xl text-4xl mb-9">Search For Your Summoner</h5>
            <br>
            <div>
                <form (ngSubmit)="getPlayerData(p_name.value)">
                    <input class="input mx-5 translate-y-0.5" type="text" #p_name placeholder="Summoner Name">
                    <div class="sm:hidden mt-4"></div>
                    <select class="select select-bordered select-sm mr-5 translate-y-[1px] lg:select-md lg:pb-0 text-white" name="server" [(ngModel)]="selectedServer" #serv>
                        <option *ngFor="let server of servers" [value]="server.value">
                            {{server.label}}
                        </option>
                    </select>
                    <button class="btn btn-primary btn-sm md:btn-md lg:btn-primary" type="submit">Search</button>
                </form>
            </div>
            <br>
            <div *ngIf="showresult" >
                <div class="flex text-center lg:m-5 w-full lg:w-full ">
                    <!-- Basic Info -->
                    <div class="hidden lg:block mx-auto w-[50%]">
                        <h3 class="text-3xl my-3 text-white">{{playerData.name}}</h3>
                        <img class="w-64 m-auto border-2 rounded-3xl border-secondary" src="http://ddragon.leagueoflegends.com/cdn/12.23.1/img/profileicon/{{playerData.profileIconId}}.png">
                        <p class="m-auto text-lg translate-y-[-1rem] bg-black border-2 rounded-lg border-secondary w-10">{{playerData.summonerLevel}}</p>
                    </div>
                    <!-- Basic Info Mobile -->
                    <div class="h-[50%] mt-4 lg:hidden">
                        <img class="w-full max-w-[100px] ml-5 border-2 rounded-full border-secondary" src="http://ddragon.leagueoflegends.com/cdn/12.23.1/img/profileicon/{{playerData.profileIconId}}.png">
                        <p class="text-lg translate-y-[-1.5rem] ml-6 bg-black border-2 rounded-full border-secondary w-fit px-2">{{playerData.summonerLevel}}</p>
                        <h3 class="align-middle absolute text-2xl my-auto pl-5 w-screen text-start">{{playerData.name}}</h3>
                    </div>
    
                    <div class="my-auto mx-auto lg:hidden w-auto">
                        <p class="text-3xl" style="font-weight: bold;">{{playerRank[0].wins + playerRank[1].wins}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">wins</span></p>
                    </div>
                    <div class="my-auto mx-auto lg:hidden w-auto">
                        <p class="text-3xl" style="font-weight: bold;">{{playerRank[0].losses + playerRank[1].losses}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">losses</span></p>
                    </div>
                    <div class="my-auto mx-auto lg:hidden w-auto">
                        <p class="text-3xl" style="font-weight: bold;">{{playerRank[0].wins + playerRank[0].losses + playerRank[1].wins + playerRank[1].losses}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">games</span></p>
                    </div>
    
                    <!-- Rank Info -->
                    <div class="hidden lg:inline-flex w-[100%]">
                        <div *ngIf="!isUnranked; else unrankedTemplate" class="mx-auto w-[50%]">
                            <div *ngFor="let x of [0,1]">
                                <div *ngIf="playerRank[x].queueType === 'RANKED_SOLO_5x5'">
                                    <h3 class="text-3xl my-3 text-white">Ranked Solo/Duo 5v5</h3>
                                    <p class="text-3xl m-3">{{playerRank[x].tier | titlecase}} {{playerRank[x].rank}} {{playerRank[x].leaguePoints}}LP</p>
                                    <img class="w-64 m-auto" src="../../assets/ranked-emblems/Emblem_{{playerRank[x].tier}}.png">
                                    <p class="text-3xl text-white">{{playerRank[x].wins}}W {{playerRank[x].losses}}L <br>
                                    {{playerRank[x].wins + playerRank[x].losses}} Games <br>
                                    Win Ratio: {{playerRank[x].wins / (playerRank[x].wins + playerRank[x].losses) * 100 | number:'1.1-2'}}%</p>
                                </div>
                            </div>
                        </div>
    
                        <div *ngIf="!isUnranked; else unrankedTemplate" class="mx-auto w-[50%]">
                            <div *ngFor="let x of [0,1]">
                                <div *ngIf="playerRank[x].queueType === 'RANKED_FLEX_SR'">
                                    <h3 class="text-3xl my-3 text-white">Ranked Flex 5v5</h3>
                                    <p class="text-3xl m-3">{{playerRank[x].tier | titlecase}} {{playerRank[x].rank}} {{playerRank[x].leaguePoints}}LP</p>
                                    <img class="w-64 m-auto" src="../../assets/ranked-emblems/Emblem_{{playerRank[x].tier}}.png">
                                    <p class="text-3xl text-white">{{playerRank[x].wins}}W {{playerRank[x].losses}}L <br>
                                        {{playerRank[x].wins + playerRank[x].losses}} Games <br>
                                        Win Ratio: {{playerRank[x].wins / (playerRank[x].wins + playerRank[x].losses) * 100 | number:'1.1-2'}}%</p>
                                </div>
                            </div>
                        </div>
                        
                        <ng-template #unrankedTemplate>
                            <div class="mx-20 w-[50%]">
                                <p class="text-3xl m-3">Unranked</p>
                                <img class="w-72 mt-auto" src="https://eloboost24.eu/images/divisions/0.webp" alt="">
                            </div>
                        </ng-template>
                    </div>
                </div>
                
                <!-- Rank Info Mobile -->
                <div *ngIf="showresult" class="lg:hidden mt-14">
                    <div class="flex flex-col overflow-hidden ml-0 w-screen">
                        <div class="flex flex-nowrap overflow-x-scroll pb-5">
                            <div class="card card-side bg-base-300 w-[90vw] ml-7">
                                <figure><img class="hidden md:w-64 md:block left-0" src="https://opgg-static.akamaized.net/images/medals_new/{{rankedSolo.tier | lowercase}}.png" alt=""></figure>
                                <div class="card-body md:pl-0">
                                    <h2 class="card-title self-center md:text-3xl text-xl text-shadow my-1">Ranked Solo/Duo 5v5</h2>
                                    <h2 class="card-title self-center md:text-2xl text-lg text-shadow mt-1">{{rankedSolo.tier | titlecase}} {{rankedSolo.rank}} {{rankedSolo.leaguePoints}}LP 
                                        <img class="w-10 md:hidden float-right" src="https://opgg-static.akamaized.net/images/medals_new/{{rankedSolo.tier | lowercase}}.png" alt="">
                                    </h2>
                                    <div class="hidden md:inline-flex my-auto">
                                        <div class="w-52 mt-4">
                                            <p class="md:text-3xl" style="font-weight: bold;">{{rankedSolo.wins}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">wins</span></p>
                                            <p class="md:text-3xl" style="font-weight: bold;">{{rankedSolo.losses}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">losses</span></p>
                                        </div>
                                        <div class="w-52 mt-4">
                                            <p class="md:text-3xl" style="font-weight: bold;">{{rankedSolo.wins + rankedSolo.losses}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">games</span></p>
                                            <p class="md:text-3xl" style="font-weight: bold;">{{rankedSolo.wins / (rankedSolo.wins + rankedSolo.losses) * 100 | number:'1.1-1'}}%<br><span class="text-base text-gray-400" style="font-weight: lighter;">ratio</span></p>
                                        </div>
                                    </div>
                                    <div class="md:hidden my-auto">
                                        <div class="inline-flex w-52 mt-4">
                                            <p class="text-xl" style="font-weight: bold;">{{rankedSolo.wins}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">wins</span></p>
                                            <p class="text-xl" style="font-weight: bold;">{{rankedSolo.losses}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">losses</span></p>
                                        </div>
                                        <br>
                                        <div class="inline-flex w-52">
                                            <p class="text-xl" style="font-weight: bold;">{{rankedSolo.wins + rankedSolo.losses}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">games</span></p>
                                            <p class="text-xl" style="font-weight: bold;">{{rankedSolo.wins / (rankedSolo.wins + rankedSolo.losses) * 100 | number:'1.1-1'}}%<br><span class="text-base text-gray-400" style="font-weight: lighter;">ratio</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="divider divider-horizontal"></div>
                            
                            <div class="card card-side bg-base-300 w-[90vw] mr-7">
                                <figure><img class="hidden md:w-64 md:block" src="https://opgg-static.akamaized.net/images/medals_new/{{rankedFlex.tier | lowercase}}.png" alt=""></figure>
                                <div class="card-body md:pl-0">
                                    <h2 class="card-title self-center md:text-3xl text-xl text-shadow my-1">Ranked Flex 5v5</h2>
                                    <h2 class="card-title self-center md:text-2xl text-lg text-shadow mt-1">{{rankedFlex.tier | titlecase}} {{rankedFlex.rank}} {{rankedFlex.leaguePoints}}LP
                                        <img class="w-10 md:hidden float-right" src="https://opgg-static.akamaized.net/images/medals_new/{{rankedFlex.tier | lowercase}}.png" alt="">
                                    </h2>
                                    <div class="hidden md:inline-flex my-auto">
                                        <div class="w-52 mt-4">
                                            <p class="md:text-3xl" style="font-weight: bold;">{{rankedFlex.wins}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">wins</span></p>
                                            <p class="md:text-3xl" style="font-weight: bold;">{{rankedFlex.losses}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">losses</span></p>
                                        </div>
                                        <div class="w-52 mt-4">
                                            <p class="md:text-3xl" style="font-weight: bold;">{{rankedFlex.wins + rankedFlex.losses}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">games</span></p>
                                            <p class="md:text-3xl" style="font-weight: bold;">{{rankedFlex.wins / (rankedFlex.wins + rankedFlex.losses) * 100 | number:'1.1-1'}}%<br><span class="text-base text-gray-400" style="font-weight: lighter;">ratio</span></p>
                                        </div>
                                    </div>
                                    <div class="md:hidden my-auto">
                                        <div class="inline-flex w-52 mt-4">
                                            <p class="text-xl" style="font-weight: bold;">{{rankedFlex.wins}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">wins</span></p>
                                            <p class="text-xl" style="font-weight: bold;">{{rankedFlex.losses}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">losses</span></p>
                                        </div>
                                        <br>
                                        <div class="inline-flex w-52">
                                            <p class="text-xl" style="font-weight: bold;">{{rankedFlex.wins + rankedFlex.losses}}<br><span class="text-base text-gray-400" style="font-weight: lighter;">games</span></p>
                                            <p class="text-xl" style="font-weight: bold;">{{rankedFlex.wins / (rankedFlex.wins + rankedFlex.losses) * 100 | number:'1.1-1'}}%<br><span class="text-base text-gray-400" style="font-weight: lighter;">ratio</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>              
                    </div>
                </div>

                <div class="md:inline-flex sm:inline-flex inline flex-col">
                    <div class="mx-auto my-10 w-60 md:w-96">
                        <p>Total Matches</p>
                        <canvas baseChart class="chart"
                            [data]="pieChartData"
                            [type]="pieChartType"
                            [options]="pieChartOptions">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>