
<!-- Back Button -->
<div class="fixed top-0">
    <button class="bg-white rounded-md m-5 px-2 py-0 text-center text-2xl hover:scale-150 transition-all duration-300"
        (click)="goBack()"> 
        < 
    </button>
</div>

<div class="flex lg:flex-row flex-col-reverse md:flex-col-reverse items-center my-10 md:my-20 lg:my-10 lg:mx-20 mx-5">
    <!-- Left Side -->
    <form class="lg:w-[75%] w-[95%] md:w-[95%]">
        <div class="flex flex-col justify-start items-start">
            <div>
                <p class="text-3xl mt-10 md:mt-0 lg:mt-0">Checkout</p>
                <p class="text-gray-400 my-3">Please fill in the required fields in order to finalize your purchase</p>
            </div>

            <p class="mt-10">1. Contact Information</p>
            <div class="flex flex-col w-full">
                <div class="flex flex-row">
                    <div class="input-container w-full">
                        <input placeholder="First Name" class="input-field" type="text">
                        <label for="input-field" class="input-label">First Name</label>
                        <span class="input-highlight"></span>
                    </div>
                    <div class="input-container w-full">
                        <input placeholder="Last Name" class="input-field" type="text">
                        <label for="input-field" class="input-label">Last Name</label>
                        <span class="input-highlight"></span>
                    </div>
                </div>

                <div class="flex flex-row">
                    <div class="input-container w-full">
                        <input placeholder="Phone Number" class="input-field" type="number">
                        <label for="input-field" class="input-label">Phone Number</label>
                        <span class="input-highlight"></span>
                    </div>
                    <div class="input-container w-full">
                        <input placeholder="Email" class="input-field" type="mail">
                        <label for="input-field" class="input-label">Email</label>
                        <span class="input-highlight"></span>
                    </div>
                </div>
            </div>

            <p class="mt-10">2. Payment Method</p>
            <div class="flex flex-row">
                <button class="paymentButton" (click)="showCard()">Card</button>
                <button class="paymentButton" (click)="showPaypal()">PayPal</button>
            </div>

            <div class="mt-5 w-full" *ngIf="isCardVisible">
                <!-- Card content -->
                <div class="">
                    <div class="input-container">
                        <input placeholder="Cardholder Name" class="input-field" type="text">
                        <label for="input-field" class="input-label">Cardholder Name</label>
                        <span class="input-highlight"></span>
                    </div>
                </div>

                <div class="mt-9">
                    <div class="input-container">
                        <input placeholder="Card Number" class="input-field" type="number">
                        <label for="input-field" class="input-label">Card Number</label>
                        <span class="input-highlight"></span>
                    </div>
                </div>

                <div class="flex flex-row justify-between">
                    <div class="input-container">
                        <input placeholder="Exp Date" class="input-field" type="text">
                        <label for="input-field" class="input-label">Exp Date</label>
                        <span class="input-highlight"></span>
                    </div>

                    <div class="input-container">
                        <input placeholder="CVC" class="input-field" type="text">
                        <label for="input-field" class="input-label">CVC</label>
                        <span class="input-highlight"></span>
                    </div>
                </div>
            </div>
              
            <div class="mt-5 w-full" *ngIf="isPaypalVisible">
                <!-- Paypal content -->
                <div class="input-container">
                    <input placeholder="PayPal Email" class="input-field" type="text">
                    <label for="input-field" class="input-label">PayPal Email</label>
                    <span class="input-highlight"></span>
                </div>
            </div>
        </div>
        <button class="md:mb-20 w-full bg-[var(--blue2)] my-5 p-3 text-white text-xl hover:bg-[var(--blue3)]">Pay -></button>

    </form>

    <!-- Right Side -->
    <div class="lg:w-[25%] w-[95%] md:w-[95%]">
        <div class="h-[50%] bg-blue-100 rounded-xl flex flex-col justify-center items-center">
            <!-- head image -->
            <div>
                <img width="225px"
                    src="../../assets/emblems/Emblem_{{extractNumbersFromString(accData?.[0]?.accRank) | uppercase}}.png">
            </div>
            <!-- rank -->
            <div class="flex flex-row justify-around">
                <p class="font-bold text-xl mb-4">{{accData?.[0]?.accRank}}</p>
            </div>
            <!-- info -->
            <div class="flex flex-row justify-center items-center flex-wrap py-4 bg-slate-100 rounded-b-xl">
                <div class="w-full text-center mb-3">
                    <p>Account Level: <span class="text-sm text-blue-500">{{accData?.[0].accLevel}}</span></p>
                </div>
                <div class="w-full text-center mb-3">
                    <p>Champions: <span class="text-sm text-blue-500">{{accData?.[0].accChamps}}</span></p>
                </div>
                <div class="w-full text-center mb-3">
                    <p>Blue Essence: <span class="text-sm text-blue-500">{{accData?.[0].accPriCurr}}</span></p>
                </div>
                <div class="w-full text-center mb-3">
                    <p>Skins: <span class="text-sm text-blue-500">{{accData?.[0].accSkins}}</span></p>
                </div>
                <div class="w-full text-center mb-3">
                    <p>Orange Essence: <span class="text-sm text-blue-500">{{accData?.[0].accOrangeEssence}}</span></p>
                </div>
                <div class="w-full text-center mb-3">
                    <p>Server: <span class="text-sm text-blue-500">{{accData?.[0].accServer}}</span></p>
                </div>
                <div class="w-full text-center mb-3">
                    <p>Riot Points: <span class="text-sm text-blue-500">{{accData?.[0].accSecCurr}}</span></p>
                </div>
                <br>
                <div class="w-full text-center mb-3">
                    <p>E-Mail Verified: <span class="text-sm text-blue-500">{{accData?.[0].accVerification === '0' ? 'No' : 'Yes'}}</span></p>
                </div>
                <div class="w-full text-center mb-3">
                    <p>Level-up Type: <span class="text-sm text-blue-500">{{accData?.[0].accLvlType === 'h' ? 'Handelvelled' : 'Botted' }}</span></p>
                </div>
            </div>
        </div>

        <div>
            <p class="text-center mt-5 text-xl">Total: ${{accData?.[0].accPrice}}</p>
        </div>
    </div>
</div>