<div style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bc5eb051-30a6-45b1-805b-0bc97c56f2af/d834cif-ed97b7e4-860e-4fb0-9693-7595e03dd17c.jpg/v1/fill/w_1600,h_944,q_75,strp/championship_shyvana_splash_by_madspartan013_d834cif-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTQ0IiwicGF0aCI6IlwvZlwvYmM1ZWIwNTEtMzBhNi00NWIxLTgwNWItMGJjOTdjNTZmMmFmXC9kODM0Y2lmLWVkOTdiN2U0LTg2MGUtNGZiMC05NjkzLTc1OTVlMDNkZDE3Yy5qcGciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.JHE5D6dzCGjtwzBDgKRBa4qaEQBjnp81OzmFraPDLeU');
            background-repeat: no-repeat;background-size: cover;">
    <div class="m-0 p-0 flex flex-row items-center justify-center bg-gradient-to-bl from-transparent from-5% via-[var(--blue7)] via-10% to-[var(--blue7)]">

        <!-- Left panel -->
        <div class="w-64 h-screen bg-[#122a56]" style="box-shadow: inset -4px 0px 5px #00000035">

        </div>
        
        <!-- Cards -->
        <div class="m-0 p-0 flex items-center justify-center h-screen w-screen">
            <app-info-card></app-info-card>
        </div>
    </div>
</div>