.active {
    /* background: linear-gradient(-90deg, rgba(18,42,86,0) 17%, rgba(47,80,140,1) 91%) */
    background-color: rgba(47,80,140,1);
}

.inactive:hover {
    /* background: linear-gradient(-90deg, rgba(18,42,86,0) 17%, rgba(47,80,140,1) 91%) */
    background: rgba(47,80,140,.5);
}

.logout_inactive:hover {
    background: #ec262670
}