<div *ngFor="let x of combinedAccounts">
    <div *ngIf="x.userID==1" class="acc my-3 container p-3 h-auto bg-[var(--grey-cool)] text-white" style="width: 100vw;">
        <div class="flex flex-row">
            <div class="flex flex-col">
                <img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/profileicon/{{x.profileIconId}}.png" 
                     width="80px"
                     class="profileIcon">
                <div class="mx-auto profileLvl">{{x.summonerLevel}}</div>
            </div>
            <div class="ml-7 text-xl flex flex-col">
                {{x.accIGN}}

                <!-- RANKED INFO -->
                <div class="flex flex-row">
                    <!-- SOLO Q INFO -->
                    <div class="flex flex-row text-lg">
                        <div style="transform: rotate(-90deg); margin-right: -27px; margin-top: 0px; opacity: 0.4; font-weight: lighter;" class="text-sm">SOLO Q</div>
                        <div>
                            <img width="85px" height="100px" src="https://static.bigbrain.gg/assets/lol/s12_rank_icons/{{x.rank | lowercase}}.png" alt="Ranked Emblem"
                                 style="margin-left: -.75rem;">
                        </div>
                        <div>
                            <div class="mt-1">
                                <span class="">{{x.rank | titlecase}}<span class="ml-2">{{romanToLatin(x.rankTier)}}</span></span>
                                {{x.soloqWins}}<span class="text-md text-[var(--grey1)] ml-1">W</span>
                                {{x.soloqLosses}}<span class="text-md text-[var(--grey1)] ml-1">L</span>
                            </div>
                            <div class="mt-1">
                                {{x.soloqLP}}<span class="text-base text-[var(--grey1)] ml-1">LP</span>
            
                                <span [ngClass]="{
                                    'text-yellow-400': getFormattedWinRate(x.soloqWins, x.soloqLosses) > 70,
                                    'text-blue-500': getFormattedWinRate(x.soloqWins, x.soloqLosses) > 60 && getFormattedWinRate(x.soloqWins, x.soloqLosses) <= 70,
                                    'text-white': getFormattedWinRate(x.soloqWins, x.soloqLosses) >= 50 && getFormattedWinRate(x.soloqWins, x.soloqLosses) <= 59,
                                    'text-red-500': getFormattedWinRate(x.soloqWins, x.soloqLosses) < 50
                                }">
                                {{ getFormattedWinRate(x.soloqWins, x.soloqLosses) }}%
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- DIVIDER -->
                    <div style="width: 1px;" class="h-full ml-9 bg-gradient-to-b from-transparent via-white to-transparent"></div>
                    
                    <!-- FLEX Q INFO -->
                    <div class="flex flex-row text-lg ml-10">
                        <div style="transform: rotate(-90deg); margin-right: -27px; opacity: 0.4; font-weight: lighter;" class="text-sm">FLEX 5V5</div>
                        <div>
                            <img width="85px" height="100px" src="https://static.bigbrain.gg/assets/lol/s12_rank_icons/{{x.rank | lowercase}}.png" alt="Ranked Emblem"
                                 style="margin-left: -.75rem;">
                        </div>
                        <div>
                            <div class="mt-1">
                                <span class="">{{x.rank | titlecase}}<span class="ml-2">{{romanToLatin(x.rankTier)}}</span></span>
                                {{x.soloqWins}}<span class="text-md text-[var(--grey1)] ml-1">W</span>
                                {{x.soloqLosses}}<span class="text-md text-[var(--grey1)] ml-1">L</span>
                            </div>
                            <div class="mt-1">
                                {{x.soloqLP}}<span class="text-base text-[var(--grey1)] ml-1">LP</span>
            
                                <span [ngClass]="{
                                    'text-yellow-400': getFormattedWinRate(x.soloqWins, x.soloqLosses) > 70,
                                    'text-blue-500': getFormattedWinRate(x.soloqWins, x.soloqLosses) > 60 && getFormattedWinRate(x.soloqWins, x.soloqLosses) <= 70,
                                    'text-white': getFormattedWinRate(x.soloqWins, x.soloqLosses) >= 50 && getFormattedWinRate(x.soloqWins, x.soloqLosses) <= 59,
                                    'text-red-500': getFormattedWinRate(x.soloqWins, x.soloqLosses) < 50
                                }">
                                {{ getFormattedWinRate(x.soloqWins, x.soloqLosses) }}%
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <img width="150px" class="m-0 p-0" src="https://opgg-static.akamaized.net/images/medals_new/{{x.rank | lowercase}}.png" alt="Ranked Emblem"> -->
        </div>
        <!-- <img src="../../assets/ranked-emblems/{x.accRank}" alt="" srcset=""> -->
    </div>
</div>