<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>
<div *ngFor="let x of combinedAccounts">
    <div *ngIf="x.userID==1" class="acc w-full my-3 ml-7 p-3 pl-5 h-auto bg-[var(--grey-cool)] text-white">
        <div class="flex flex-row">
            <div class="flex flex-col">
                <img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/profileicon/{{x.profileIconId}}.png" 
                     width="80px"
                     class="profileIcon">
                <div class="mx-auto profileLvl">{{x.summonerLevel}}</div>
            </div>
            <div class="ml-7 text-xl flex flex-col">
                <p>{{x.accIGN}}<span class="text-sm ml-2 opacity-25">[{{x.accServer}}]</span></p>
                <!-- RANKED INFO -->
                <div class="flex flex-row">
                    <!-- SOLO Q INFO -->
                    <div class="flex flex-row text-lg">
                        <div style="transform: rotate(-90deg); margin-right: -27px; margin-top: 0px; opacity: 0.4; font-weight: lighter;" class="text-sm">SOLO Q</div>
                        <div>
                            <img width="85px" height="100px" src="../../assets/emblems/Emblem_{{x.rank}}.png" alt="Ranked Emblem"
                                 style="margin-left: -.75rem;">
                        </div>
                        <div>
                            <div class="mt-1">
                                <span class="">{{x.rank | titlecase}}<span class="ml-2">{{romanToLatin(x.rankTier)}}</span></span>
                                {{x.soloqWins}}<span class="text-base text-[var(--grey1)] ml-1">W</span>
                                {{x.soloqLosses}}<span class="text-base text-[var(--grey1)] ml-1">L</span>
                            </div>
                            <div class="mt-1">
                                {{x.soloqLP}}<span class="text-base text-[var(--grey1)] ml-1">LP</span>
            
                                <span [ngClass]="{
                                    'text-yellow-400': getFormattedWinRate(x.soloqWins, x.soloqLosses) > 70,
                                    'text-blue-500': getFormattedWinRate(x.soloqWins, x.soloqLosses) > 60 && getFormattedWinRate(x.soloqWins, x.soloqLosses) <= 70,
                                    'text-white': getFormattedWinRate(x.soloqWins, x.soloqLosses) >= 50 && getFormattedWinRate(x.soloqWins, x.soloqLosses) <= 59,
                                    'text-red-500': getFormattedWinRate(x.soloqWins, x.soloqLosses) < 50
                                }">
                                {{ getFormattedWinRate(x.soloqWins, x.soloqLosses) }}%
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- DIVIDER -->
                    <div style="width: 1px;" class="h-full ml-9 bg-gradient-to-b from-transparent via-white to-transparent"></div>
                    
                    <!-- FLEX Q INFO -->
                    <!-- check if flex wins and losses exist -->
                    <div *ngIf="x.flexqWins && x.flexqLosses">
                        <div class="flex flex-row text-lg ml-10">
                            <div style="transform: rotate(-90deg); margin-right: -27px; opacity: 0.4; font-weight: lighter;" class="text-sm">FLEX 5V5</div>
                            <div>
                                <img width="85px" height="100px" src="../../assets/emblems/Emblem_{{x.rankFlex}}.png" alt="Ranked Emblem"
                                     style="margin-left: -.75rem;">
                            </div>
                            <div>
                                <div class="mt-1">
                                    <span class="">{{x.rank | titlecase}}<span class="ml-2">{{romanToLatin(x.rankTierFlex)}}</span></span>
                                    {{x.flexqWins}}<span class="text-base text-[var(--grey1)] ml-1">W</span>
                                    {{x.flexqLosses}}<span class="text-base text-[var(--grey1)] ml-1">L</span>
                                </div>
                                <div class="mt-1">
                                    {{x.flexqLP}}<span class="text-base text-[var(--grey1)] ml-1">LP</span>
                
                                    <span [ngClass]="{
                                        'text-yellow-400': getFormattedWinRate(x.flexqWins, x.flexqLosses) > 70,
                                        'text-blue-500': getFormattedWinRate(x.flexqWins, x.flexqLosses) > 60 && getFormattedWinRate(x.flexqWins, x.flexqLosses) <= 70,
                                        'text-white': getFormattedWinRate(x.flexqWins, x.flexqLosses) >= 50 && getFormattedWinRate(x.flexqWins, x.flexqLosses) <= 59,
                                        'text-red-500': getFormattedWinRate(x.flexqWins, x.flexqLosses) < 50
                                    }">
                                    {{ getFormattedWinRate(x.flexqWins, x.flexqLosses) }}%
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- If they don't exist (unranked) -->
                    <div *ngIf="!x.flexqWins && !x.flexqLosses"> 
                        <div class="flex flex-row text-lg ml-10">
                            <div style="transform: rotate(-90deg); margin-right: -27px; opacity: 0.4; font-weight: lighter;" class="text-sm">FLEX 5V5</div>
                            <div>
                                <img width="85px" height="100px" src="../../assets/emblems/Emblem_UNRANKED.png" alt="Unranked Emblem"
                                     style="margin-left: -.75rem;">
                            </div>
                            <div class="my-auto">
                                Unranked
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!x.soloqWins && !x.soloqLosses"> 
                        <div class="flex flex-row text-lg ml-10">
                            <div style="transform: rotate(-90deg); margin-right: -27px; opacity: 0.4; font-weight: lighter;" class="text-sm">SOLO Q</div>
                            <div>
                                <img width="85px" height="100px" src="../../assets/emblems/Emblem_UNRANKED.png" alt="Unranked Emblem"
                                     style="margin-left: -.75rem;">
                            </div>
                            <div class="my-auto">
                                Unranked
                            </div>
                        </div>
                    </div>

                    <!-- DIVIDER -->
                    <div style="width: 1px;" class="h-full ml-9 bg-gradient-to-b from-transparent via-white to-transparent"></div>
                    
                    <!-- currencies + champs -->
                    <div class="flex flex-col text-base ml-10">
                        <div class="flex flex-row">
                            <img class="w-5 h-5 my-auto mr-1" src="../../assets/BE_icon.png">
                            {{x.primaryCurrency}}
                        </div>
                        <div class="flex flex-row">
                            <img class="w-5 h-5 my-auto mr-1" src="../../assets/OE_icon.png">
                            {{x.secondaryCurrency}}
                        </div>
                        <div class="flex flex-row">
                            <img class="w-5 h-5 my-auto mr-1 invert" src="../../assets/helmet.png">
                            {{x.champs}}
                        </div>
                    </div>

                    <!-- DIVIDER -->
                    <div style="width: 1px;" class="h-full ml-9 bg-gradient-to-b from-transparent via-white to-transparent"></div>
                    
                    <!-- Copy acc logins -->
                    <button class="my-auto button ml-10" (click)="copyToClipboard(x.username + '---' + x.password)"></button>
                </div>
            </div>
        </div>
    </div>
</div>