<div style="background: rgb(7, 18, 38);">
    <div class="m-0 p-0 flex flex-row items-center justify-center">
        <!-- Left panel -->
        <div class="flex flex-col items-center justify-center w-64 h-screen bg-[#122a56]"
            style="box-shadow: inset -4px 0px 5px #00000035">

            <div class="flex p-5 text-white">
                <h3 class="font-semibold text-xl">Extra Actions</h3>
            </div>

            <!-- Add accounts -->
            <div class="flex w-full items-center justify-center text-white">
                <a routerLink="/add-account" class="py-5 flex flex-row items-center justify-center inactive w-full">
                    <img width="30px" src="../../assets/icons/add-photo.png" alt="Add Account"
                        style="filter: invert();">
                    <p class="pl-3">Add Account</p>
                </a>
            </div>

            <!-- My Accounts -->
            <div class="flex w-full items-center justify-center text-white">
                <a routerLink="/accountinfo" class="py-5 flex flex-row items-center justify-center inactive w-full">
                    <img width="30px" src="../../assets/icons/list.png" alt="Your Accounts" style="filter: invert();">
                    <p class="pl-3">Your Accounts</p>
                </a>
            </div>

            <!-- Marketplace -->
            <div class="flex w-full items-center justify-center text-white">
                <a routerLink="/marketplace" class="py-5 flex flex-row items-center justify-center active w-full">
                    <img width="30px" src="../../assets/icons/shopping-cart.png" alt="Your Accounts"
                        style="filter: invert();">
                    <p class="pl-3">Marketplace</p>
                </a>
            </div>

            <!-- Logout -->
            <div class="flex mt-auto w-full items-center justify-center text-white">
                <button (click)="logoutFunction()"
                    class="inactive py-5 w-full flex flex-row items-center justify-center">
                    <img width="32px" src="../../assets/icons/profile.png" alt="Logout" style="filter: invert();">
                </button>
                <button (click)="logoutFunction()"
                    class="logout_inactive py-5 w-full flex flex-row items-center justify-center">
                    <img width="32px" src="../../assets/icons/logout.png" alt="Logout" style="filter: invert();">
                </button>
            </div>
        </div>

        <!-- Marketplace -->
        <div class="flex-row overflow-y-auto overflow-x-hidden m-0 p-0 flex h-screen w-screen">
            <!-- MARKETPLACE CODE HERE -->
            <!-- marketplace accounts -->
            <div *ngFor="let x of m_Accounts; let i=index">
                <!-- each account card -->
                <!-- <app-marketplace-account [account]="x"></app-marketplace-account> -->
                <div class="flex flex-row">
                    <!-- each account -->
                    <div class="flex flex-col flex-wrap mx-7 my-5 bg-gray-600 hover:scale-105 transition-all w-52 rounded-xl"
                        (mousemove)="changePerspective($event)" (mouseleave)="resetPerspective($event)">
                        <div class="mx-auto">
                            <img width="150px"
                                src="../../assets/emblems/Emblem_{{extractNumbersFromString(x.accRank) | uppercase}}.png"
                                class="image">
                        </div>
                        <div class="bg-white rounded-b-xl p-1 text-black px-3 w-auto">
                            <!-- {{x.accRank}}
                            {{'$' + x.accPrice}} -->
                            <div class="flex flex-row items-between justify-between">
                                <div class="flex flex-col mx-auto">
                                    <p class="underline my-1">Rank</p>
                                    <p>{{x.accRank}}</p>
                                </div>

                                <div style="width: 0.01rem;" class=" mx-2 my-1 bg-[rgba(0,0,0,0.25)]">
                                </div>

                                <div class="flex flex-col mx-auto">
                                    <p class="underline my-1">Server</p>
                                    <p>{{ x.accServer === 'EUW1' ? 'EUW' : (x.accServer === 'EUN1' ?
                                        'EUNE' : (x.accServer === 'NA1' ? 'NA' : x.accServer)) }}</p>
                                </div>
                            </div>

                            <div class="flex flex-col items-center justify-center">
                                <p class="mt-5 text-xl font-bold">{{x.accPrice}} USD</p>
                                <button
                                    class="bg-green-400 hover:bg-green-600 px-10 py-1 rounded-md text-xl my-3 text-white"
                                    (click)="togglePopup(i, false)">BUY</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- POPUP -->
                <div [hidden]="!isPopupVisible(i)">
                    <div class="overlay" (mousemove)="changePerspective($event)"
                        (mouseleave)="resetPerspective($event)">
                        <div class="flex flex-col bg-white p-3 pl-0 rounded-lg max-w-3xl">
                            <!-- Top line -->
                            <div class="flex flex-row justify-between content-between ">
                                <p class="pl-3">AC{{x.acc_id}}</p>
                                <button (keyup)="handleKeyPress($event)" (click)="togglePopup(i, true)" class="bg-red-500 hover:bg-red-600 transition-all duration-100 text-white rounded-full px-2">X</button>
                            </div>

                            <div class="flex flex-row ">
                                <div class="mx-auto mt-10">
                                    <img width="500px"
                                        src="../../assets/emblems/Emblem_{{extractNumbersFromString(x.accRank) | uppercase}}.png"
                                        class="image" style="transform: scale(0.98);">
                                    <div class="text-center">
                                        <p class=" font-semibold">Rank:</p>
                                        <p class="text-sm text-blue-500">{{x.accRank}}</p>
                                    </div>
                                </div>

                                <div class="flex flex-col">
                                    <p class="text-xl font-bold">ACCOUNT PROPERTIES</p>
                                    <div class="flex flex-row flex-wrap ml-5 p-7 gap-x-7 gap-y-5 justify-stretch">
                                        <div>
                                            <p class=" font-semibold">Rank:</p>
                                            <p class="text-sm text-blue-500">{{x.accRank}}</p>
                                        </div>
                                        <div>
                                            <p class=" font-semibold">Level</p>
                                            <p class="text-sm text-blue-500">{{x.accLevel}}</p>
                                        </div>
                                        <div>
                                            <p class=" font-semibold">Champions:</p>
                                            <p class="text-sm text-blue-500">{{x.accChamps}}</p>
                                        </div>
                                        <div>
                                            <p class=" font-semibold">Blue Essence:</p>
                                            <p class="text-sm text-blue-500">{{x.accPriCurr}}</p>
                                        </div>
                                        <div>
                                            <p class=" font-semibold">Orange Essence:</p>
                                            <p class="text-sm text-blue-500">{{x.accOrangeEssence}}</p>
                                        </div>
                                        <div>
                                            <p class=" font-semibold">Riot Points:</p>
                                            <p class="text-sm text-blue-500">{{x.accSecCurr}}</p>
                                        </div>
                                        <div>
                                            <p class=" font-semibold">Skins:</p>
                                            <p class="text-sm text-blue-500">{{x.accSkins}}</p>
                                        </div>
                                        <div>
                                            <p class=" font-semibold">E-Mail Verified:</p>
                                            <p class="text-sm text-blue-500">{{ x.accVerification === '0' ? 'No' : 'Yes' }}</p>
                                        </div>
                                        <div>
                                            <p class=" font-semibold">Level-up Type:</p>
                                            <p class="text-sm text-blue-500">{{ x.accLvlType === 'h' ? 'Handelvelled' : 'Botted' }}</p>
                                        </div>
                                        <div>
                                            <p class=" font-semibold">Server:</p>
                                            <p class="text-sm text-blue-500">{{x.accServer}}</p>
                                        </div>
                                    </div>
                                    <button class="ml-auto bg-green-400 hover:bg-green-600 px-10 py-1 rounded-md text-xl text-white"
                                    (click)="togglePopup(i, true)">BUY</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>